body {
    background-color: #181027;
    color: white;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.topbar {
    padding-top: 10px;
}

.navbar {
    list-style: none;
    display: flex;
}

.navbar li {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 6%;
    padding-right: 0px;
    border-bottom: 3px solid transparent;
}

.navbar li:hover {
    border-bottom: 3px solid #a38ad2;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.topbar-button,
.footer-button {
    color: white;
    height: 40px;
    border-radius: 20px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

.topbar-button {
    background-color: rgb(255, 85, 0);
}

.topbar-button:hover {
    opacity: 0.6;
}

.footer-button {
    border: 3px solid rgb(255, 85, 0);
    background-color: inherit;
    width: 100%;
}

.footer {
    padding: 30px 20px;
    background-color: #2f1f4d;
}

.footer > div {
    display: flex;
    flex-direction: column;
}

.left-footer {
    gap: 1.5em;
}

.right-footer {
    gap: 1em;
}

@media (width >=720px) {
    .toplogo {
        width: 100%;
    }

    .topbar-button {
        width: 100%;
    }

    .landingimg {
        width: 70%;
        float: right;
    }

    .hlanding {
        padding-top: 15%;
        padding-left: 5%;
    }

    .left-footer {
        padding-top: 50px;
        padding-left: 100px;
    }

    .right-footer {
        padding: 60px 0px;
    }
}

@media (width < 720px) {
    .toplogo {
        width: 55%;
    }

    .topbar-button {
        width: 50%;
        display: block;
        margin: auto;
    }

    .landingimg {
        width: 50%;
    }

    .landingimg-grid {
        height: 350px;
        overflow: hidden;
        text-align: center;
    }

    .hlanding {
        padding: 25px 50px;
        text-align: center;
    }

    .left-footer h1,
    .footer-button {
        display: none;
    }

    .left-footer {
        padding-left: 30px;
    }

    .right-footer {
        padding: 30px 0px 60px 50px;
    }
}
